<div class="user-details" [ngClass]="{ last: isLast }" *ngIf="user">
  <img src="{{ user.avatar_url }}" />
  <div class="user-info">
    <p>
      <strong>
        {{ user.name }}
      </strong>
      <small>
        <a href="{{ user.html_url }}">{{ user.login }}</a>
      </small>
    </p>
    <p>{{ user.bio }}</p>
    <p>
      <a href="{{ user.followers_url }}">{{ user.followers }} followers</a> |
      <a href="{{ user.following_url }}">following {{ user.following }}</a>
    </p>
  </div>
  <a href="{{ user.url }}">API Data</a>
</div>
