<p>Found {{total || 0}} matching result(s).</p>
<p *ngIf="total > 1000">Only the first 1000 results can be viewed.</p>

<div class="page-buttons">
  <div class="page-buttons-first">
    <button (click)="paginate(1)" [disabled]="current===1" type="button">First</button>
    <button (click)="paginate(current-1)" [disabled]="(current-1)<1" type="button">Previous</button>
  </div>
  <div class="page-buttons-last">
    <button (click)="paginate(current+1)" [disabled]="(current+1)>lastPageNumber" type="button">Next</button>
    <button (click)="paginate(lastPageNumber)" [disabled]="current===lastPageNumber" type="button">Last</button>
  </div>
</div>